body {
    padding: 10px;
}
body .btn {
    /* Styles for the general button */
    background-color: green;
    color: white;
  }
  
body .btn.btn_danger {
    /* Styles for the danger button */
    background-color: red;
    color: white;
}  