{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create New Listing</h2>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Description">
        </div>
        <div class="mb-3">
            <label for="imageurl" class="form-label">ImageUrl</label>
            <input type="text" class="form-control" id="imageurl" name="imageurl" placeholder="ImageUrl">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Price">
        </div>
        <div class="mb-3">
            <label for="category">Choose a Category:</label>
                <select name="cars" id="cars">
                {% for cat in categories %}
                    <option value="volvo">{{cat}}</option>
                {% endfor %}
                </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    
{% endblock %}